# 5.1 Print

In [ ]:
print("Hai nama saya Sabina")

In [1]:
Name = "Sabina"
print("Hai saya " , Name , " saya dari kelas A")

Hai saya  Sabina  saya dari kelas A

In [2]:
Name = input("Masukkan Nama Anda: ")
print("Hallo " , Name , " apa kabar? ")

Masukkan Nama Anda: krisna astrawan
Hallo  krisna astrawan  apa kabar?

In [4]:
print("Sabina sangat 'PINTER' dia jenius")

Sabina sangat 'PINTER' dia jenius

In [6]:
fName = "Made"
lName = "Susanto"
print("Hai " + fName , lName + " Welcome")

Hai Made Susanto Welcome

In [9]:
Month = 12
Money = 10000
print("Total tabungan = Rp." + str(Month * Money))

Total tabungan = Rp.120000

# 5.2 Input

In [11]:
Nama = input("Masukkan Nama : ")
Pendapatan = int(input("Masukkan pendapatan per bulan: Rp."))

print("Halo " + Nama , "Pendapatan mu per tahun sekitar Rp." + str(Pendapatan * 12))

Masukkan Nama : sabina bberlianti
Masukkan pendapatan per bulan: Rp.100000
Halo sabina bberlianti Pendapatan mu per tahun sekitar Rp.1200000

In [12]:
Nama = str(input("Masukkan Nama kamu: "))
for i in range(10):
    print("Hai" , Nama)

Masukkan Nama kamu: sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina
Hai sabina

# 5.3 Tipe Data Pada Python

In [21]:
Panjang = float(input("Masukkan Panjang persegi: "))
Lebar = float(input("Masukkan Lebar Persegi: "))

Luas = Panjang * Lebar
print("Luas Persegi Panjang =" , Luas , "cm2")

type(Luas)
type(Lebar)
type(Panjang)

Masukkan Panjang persegi: 10
Masukkan Lebar Persegi: 5
Luas Persegi Panjang = 50.0 cm2

float

In [24]:
bil_one = float(input("Masukkan Bilangan 1 = "))
bil_two = float(input("Masukkan Bilangan 2 = "))

jum = bil_one + bil_two

print("Jumlah kedua bilangan adalah =" , str(jum))

Masukkan Bilangan 1 = 10
Masukkan Bilangan 2 = 20
Jumlah kedua bilangan adalah = 30.0

In [29]:
Nama = input("Masukkan Nama: ")
NamaSekolah = input("Nama Sekolah SMA : ")
Tahun = input("Masukkan Tahun Tamat: ")

print(f"{Nama} Lulusan {NamaSekolah} pada Tahun {Tahun}.")

Masukkan Nama: Sabina
Nama Sekolah SMA : sma berlin
Masukkan Tahun Tamat: 2020
Sabina Lulusan sma berlin pada Tahun 2020.

# 5.4 String Index

In [37]:
thisString = "Ini adalah sekolah bergengsi yang ada di Bali"

print(thisString[11:29])
print(thisString[0:-1])
print(thisString[0:10])

sekolah bergengsi
Ini adalah sekolah bergengsi yang ada di Bal
Ini adalah

# 5.6 String Methods

In [41]:
Nama = input("Masukkan Nama Kamu = ")
print("Panjang Nama = " , len(Nama))

print(Nama.upper())
print(Nama.lower())
print(Nama.find("a"))
Nama.replace("a" , "b")

print("s" in Nama)

Masukkan Nama Kamu = sabina
Panjang Nama =  6
SABINA
sabina
1
True

# 5.7 Operasi Matematika di Python

In [43]:
bil_one = float(input("Masukkan Bilangan 1 : "))
bil_two = float(input("Masukkan Bilangan 2 : "))

print("Hasil penjumlahan : " + str(bil_one + bil_two))
print("Hasil Pengurangan : " + str(bil_one - bil_two))
print("Hasil Bagi : " + str(bil_one / bil_two))
print("Hasil Kali : " + str(bil_one * bil_two))
print("Hasil Modulo : " + str(bil_one % bil_two))
print("Hasil Sisa Bagi: " + str(bil_one // bil_two))

Masukkan Bilangan 1 : 10
Masukkan Bilangan 2 : 5
Hasil penjumlahan : 15.0
Hasil Pengurangan : 5.0
Hasil Bagi : 2.0
Hasil Kali : 50.0
Hasil Modulo : 0.0
Hasil Sisa Bagi: 2.0

# 5.8 Operator Perbandingan di Python

In [46]:
bil_one = int(input("Masukkan bilangan 1 : "))
bil_two = int(input("Masukkan Bilangan 2 : "))

a = bil_one < bil_two
b = bil_one > bil_two
c = bil_one == bil_two
d = bil_one <= bil_two
e = bil_one >= bil_two

print(bil_one , '>' , bil_two , ' = ' , a)
print(bil_one , '<' , bil_two , ' = ' , b)
print(bil_one , '==' , bil_two , ' = ' , c)
print(bil_one , '<=' , bil_two , ' = ' , d)
print(bil_one , '>=' , bil_two , ' = ' , e)

Masukkan bilangan 1 : 10
Masukkan Bilangan 2 : 5
10 > 5  =  False
10 < 5  =  True
10 == 5  =  False
10 <= 5  =  False
10 >= 5  =  True

# 5.9 Operator Logika di Python

In [47]:
nilai_one = int(input("Masukkan Nilai Budi: "))
nilai_two = int(input("Masukkan Nilai Wayan: "))

print(nilai_one > 55 and nilai_two <= 90)

print(nilai_one < 55 and nilai_two > 70)

print(nilai_one > 55 or nilai_two > 60)

print(nilai_one == 70 or nilai_two == 75)

Masukkan Nilai Budi: 70
Masukkan Nilai Wayan: 75
True
False
True
True

# 5.10 Operasi if Python

In [49]:
def CheckBil(Bil):
    if Bil % 2 == 0:
        return True
    else:
        return False

Bilangan = int(input("Masukkan Bilangan Bulat: "))
if CheckBil(Bilangan):
    print(Bilangan , 'Adalah Bilangan Genap')

else:
    print(Bilangan , 'Adalah Bilangan Ganjil')

Masukkan Bilangan Bulat: 10
10 Adalah Bilangan Genap

In [58]:
def CheckTall(Tall , init):
    if init.lower() == 'cm':
        Tall = Tall * 0.393701
        return str(Tall) + init;
    
    else:
        Tall = Tall/0.393701
        return str(Tall) + init

Tall = float(input("Masukkan Tinggi Badan: "))
init = input("Masukkan inisiasi cm atau inch? : ")

print(f"Tinggi badan anda adalah {CheckTall(Tall , init)}")

Masukkan Tinggi Badan: 103
Masukkan inisiasi cm atau inch? : cm
Tinggi badan anda adalah 40.551203cm

# 5.11 While Loop

In [59]:
a = 0
while(True):
    a = a+1
    print("Ini Angka " + str(a))
    
    if a == 5: break

Ini Angka 1
Ini Angka 2
Ini Angka 3
Ini Angka 4
Ini Angka 5

In [65]:
a = 5
while True:
    print(a * "*")
    a = a - 1
    
    if a == 0: break

*****
****
***
**
*

# Data Titanic filtering Wanita Yang Meninggal

In [66]:
import pandas as pd

url = "https://raw.githubusercontent.com/imberlianti/Tugas/main/Data%20Scientist/train.csv"

data = pd.read_csv(url)
df = pd.DataFrame(data)

res = data[(data["Survived"] == 0)]
female = res[(res["Sex"] == "female")]

died = len(female)

listCol = female.columns.values.tolist()
listCol.remove("Survived")
listCol.remove("PassengerId")
listCol.remove("Name")
listCol.remove("Sex")
listCol.remove("Age")

female = female.drop(listCol, axis = 1)
female['Survived'] = female['Survived'].replace([0] , 'Died')

print(female.head(died))
print("Banyak Penumpang Perempuan yang Meninggal = " , str(died) , " orang penumpang")

     PassengerId Survived                                               Name  \
14            15     Died               Vestrom, Miss. Hulda Amanda Adolfina
18            19     Died  Vander Planke, Mrs. Julius (Emelia Maria Vande...
24            25     Died                      Palsson, Miss. Torborg Danira
38            39     Died                 Vander Planke, Miss. Augusta Maria
40            41     Died     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
..           ...      ...                                                ...
854          855     Died      Carter, Mrs. Ernest Courtenay (Lilian Hughes)
863          864     Died                  Sage, Miss. Dorothy Edith "Dolly"
882          883     Died                       Dahlberg, Miss. Gerda Ulrika
885          886     Died               Rice, Mrs. William (Margaret Norton)
888          889     Died           Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age
14   female  14.0
18   female  31.0
24   female   8.0
38   female  18.0
40   female  40.0
..      ...   ...
854  female  44.0
863  female   NaN
882  female  22.0
885  female  39.0
888  female   NaN

[81 rows x 5 columns]
Banyak Penumpang Perempuan yang Meninggal =  81  orang penumpang